<footer class="footer">
    
    <section class="data">
        <div>
            <h3>Kontakt</h3>
            <p>530 432 675</p>
            <p>tailorshop@gmail.com</p>
        </div>
        <div>
            <h3>Media</h3>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div>
            <h3>Adres</h3>
            <p>Kielce</p>
            <p>Warszawska 656</p>
        </div>
    </section>

    <div class="show">
        <p>Link autora grafik</p>
        <i class="fas fa-arrow-up"
        (click)="showLink()"></i>   
    </div> 
  
   </footer>
