.citation{
    width:100%;
    background-image: url('/assets/img/citation-background.jpg');
    background-attachment: fixed;
    background-size: cover;

    p{
        width:100%;
        max-width:1920px;
        height:inherit;
        margin:0 auto;
        padding:140px 150px;
        line-height: 50px;
        background-color: rgba(126, 112, 112, 0.582);
        text-align: center;
        color:white;
        font-family: 'Caveat', cursive, sans-serif;
        font-size: 40px;
    }

    span{
        display:block;
        padding-top:50px;
        font-family: 'Dancing Script', Arial, sans-serif;
        color:#ddd;
    }
}

.categories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:1280px;
    margin:0 auto;
    padding: 50px 0;
    background-color:#ddd;

    div{
        position: relative;
        overflow: hidden;
        cursor:pointer;
    }

    img{
        width:400px;
        height:300px;
    }
    
    p{
        width:100%;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0, -50%);        
        transition: .5s;
        font-size: 30;
        text-align: center;
        font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;  
        color: white;
        line-height: 70px;
        background-color: rgba(100,100,100, .5);
    }

    div:hover p{
        left:50%;
        transform: translate(-50%, -50%);
    }
}