<section class="citation">
    <p>Bądź wzorcem jakości. Niektórzy ludzie nie przywykli do środowiska, gdzie oczekuje się doskonałości.<span>Steve Jobs</span></p>
</section>

<section class="categories">
    <div routerLink="creator">
        <p>Zaprojektuj sukienkę</p>
        <img src="../../assets/img/kreator.jpg" alt="">
    </div>
    <div routerLink="gallery">
        <p>Zobacz galerie</p>
        <img src="../../assets/img/galeria.jpg" alt="">
    </div>
    <div routerLink="information">
        <p>Dowiedz się jak działamy</p>
        <img src="../../assets/img/info.jpg" alt="">
    </div>
</section>