<section class="creator">
   
  <app-tailor-model
     [selectedCollectionName]= "selectedCollectionName"
     [creation]="creation"
     [assetsUrl]="assetsUrl"
  ></app-tailor-model>

  <app-item-selection
     [selectedCollectionName]= "selectedCollectionName"
     [options]="options"
     [selectedCollection]="selectedCollection"
     [selectedItem]="selectedItem"
     [creation]="creation"
     [assetsUrl]="assetsUrl"
     (onOptionSelection)= "selectOption($event)"
     (onItemSelection)="selectItem($event)"
  ></app-item-selection>

  <app-creator-buttons
      (random)="setRandomCreation($event)"
      (randomWithElement)="setRandomCreationWithElement($event)"
  ></app-creator-buttons>
  
</section>
