<main class="main">
  <section class="creator">
    <div  class="model">
      <img
      [ngClass]="{'imgSide': selectedOption === 3}" 
      class="imgFront" [src]="model.srcFront" alt="">
      <img 
      [ngClass]="{'imgSide': selectedOption === 3}"
      class="imgBottom"[src]="model.srcBottom" alt="">
      <img *ngIf="selectedOption ===3"
      class="imgBack" [src]="model.srcBack" alt="">
    </div>
    <div class="options">
      <div 
        *ngFor="let option of options" 
        class="option" 
        [ngClass]="{'active': selectedOption === option.value}" 
        (click)="selectOption(option.value)"
      >
        <img [src]="option.src" [alt]="option.name">
      </div>
    </div>
    <div class="selection-panel">
      <h3>{{selectedOptionName}}</h3>
      <div class="selections-of-items">
        <div 
        *ngFor="let item of selectedCollection">        
          <img [src]="item.src" [alt]="item.name"
          [ngClass]= "{'active': selectedItem === item.value}"
          (click)="selectItem(item.value)">
        </div>
    </div>
    </div>
  </section>
</main>