<!-- <div  class="model">
      <img
      [ngClass]="{'imgSide': items[id].type === back}" 
      class="imgFront" [src]="../../assets/img/{{items[id].name}}" alt="">
      <img 
      [ngClass]="{'imgSide': items[id].type === back}"
      class="imgBottom"[src]="m../../assets/img/{{items[id].name}}" alt="">
      <img *ngIf="items[id].type === back"
      class="imgBack" [src]="../../assets/img/{{items[id].name}}" alt="">
 </div>  -->
<div class="model">
      <img *ngIf="selectedOption !== 4" class="imgFront" src="../../assets/img/{{items[creation.frontID-1].name}}" alt="">
      <img *ngIf="selectedOption !== 4" class="imgBottom" src="../../assets/img/{{items[creation.bottomID-1].name}}" alt="">
      <img *ngIf="creation.beltID !== 45 && selectedOption !== 4" class="imgBelt" src="../../assets/img/{{items[creation.beltID-1].name}}" alt="">
      <img *ngIf="selectedOption === 4" class="imgBack" src="../../assets/img/{{items[creation.backID-1].name}}" alt="">
      <img class="imgFabric" src="../../assets/img/{{fabric[creation.fabricID-1].name}}" alt="">
</div>
