<section class="informations">

    <h1>Dowiedz się wszystkiego o działaniu naszego zakładu !!!</h1>

    <div class="article">
        <h2>Regulamin</h2>
        <p>W momencie kiedy wyślesz zapytanie o kreację, uzupełnione o twoje dane, zgadzasz się na przetrzymywanie oraz używanie twoich danych osobowych przez zakład Tailor-Shop,
            <span>np. numer telefonu oraz email może być użyty w celu kontaktowania się w sprawie zamówień</span>
        </p>
    </div>
   
    <div class="article">
        <h2>Sposób składania zamówień</h2>
        <p>Zamówienia generowane są automatycznie po wysłaniu zapytania o kreację <span>(wybór kreacji i podanie wymaganych danych osobowych jest konieczne)</span>. Zanim wykonamy produkt, kontatujemy się telefonicznie lub mailowo z klientem w celu zweryfikowania autentyczności istnienia klienta.</p>
    </div>
    
    <div class="article">
        <h2>Odbiór zamówień</h2>
        <p>Nasz zakład jest nową firmą na rynku, dlatego aktualnie nie zajmujemy się wysyłką produktu. Produkt musi zostać odebrany samodzielnie przez klienta w zakładzie zlokalizowanym w Kielcach na ulicy Warszawskiej 656.</p>
    </div>
    
</section>

