<section *ngIf="selectedCreation !==null" class="modal-body">
    <div  class="modal-wrap">
        <div class="modal">            
            <div class="top">
                <h2>Przeglądaj kreacje</h2>
            </div>
            <div class="bottom">
                <button 
                    class="fas fa-arrow-left button-prev"
                    (click)="viewPreviousCreation()"
                ></button>
                <div class="creation">
                    <img class="imgFront" src="{{assetsUrl}}{{selectedCreation.frontItem.name}}" alt="selectedCreation.frontItem.name">
                    <img class="imgBottom" src="{{assetsUrl}}{{selectedCreation.bottomItem.name}}" alt="creations[selectedCreation].bottomItem.name">
                    <img class="imgBelt" src="{{assetsUrl}}{{selectedCreation.beltItem.name}}" alt="creations[selectedCreation].beltItem.name">
                    <img class="imgFabric imgFabricModal" src="{{assetsUrl}}{{selectedCreation.fabricItem.name}}" alt="creations[selectedCreation].fabricItem.name">
                    <img class="imgBack imgBackModal" src="{{assetsUrl}}{{selectedCreation.backItem.name}}" alt="creations[selectedCreation].backItem.name">
                </div>
                <button 
                    class="fas fa-arrow-right button-next"
                    (click)="viewNextCreation()">
                </button>
            </div>
            <span class="hide" 
                (click)="hideCreationModal()">
                <img src="{{assetsUrl}}../cross.png" alt=""></span>
        </div>
    </div>
</section>

<div class="gallery">
    <div *ngFor="let creation of creations; index as i" 
        class="model" 
        (click)="showCreationModal(this.creation)">
        <img class="imgFront" src="{{assetsUrl}}{{creations[i].frontItem.name}}" alt="creations[i].frontItem.name">
        <img class="imgBottom" src="{{assetsUrl}}{{creations[i].bottomItem.name}}" alt="creations[i].bottomItem.name">
        <img class="imgBelt" src="{{assetsUrl}}{{creations[i].beltItem.name}}" alt="creations[i].beltItem.name">
        <img class="imgFabric" src="{{assetsUrl}}{{creations[i].fabricItem.name}}" alt="creations[i].fabricItem.name">
        <img class="imgBack" src="{{assetsUrl}}{{creations[i].backItem.name}}" alt="creations[i].backItem.name">
    </div>
</div>

 



